
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header styles */
#header {
  height: 8vh;
  background-color: #20346a;
  display: flex;
  align-items: center;
}

#logo {
  height: 66%;
  margin-left: 1vh;
}

#logo-text {
  height: 25%;
}

/* Map container */
#map {
  height: 92vh;
}

/* Info window */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* Searchbar */
.pac-card {
  margin: 10px  0 0 10px;
  padding: 8px 0;
  border: solid #20346ab9;
  border-width: 2px;
  border-radius:5px ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background-color: #fff;
  font-family: Roboto;
}

#pac-input {
  
  border-style: none;
  background-color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 60vw;
  outline: none;
  min-width: 75px;
  max-width: 400px;
}