
html, body {
  margin: 0;
  padding: 0;
  background-color: #20346a;
  font-family: Roboto, sans-serif;
}

/* Header styles */
#header {
  height: 10vh;
  background-color: #20346a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

#logo-home-link {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

#logo {
  height: 66%;
  margin-left: 1vh;
}

#logo-text {
  height: 25%;
}

#about-image {
  height: 33%;
  margin-right: 4vh;
}

/* Map container */
#map {
  height: 80vh;
}

/* Info window */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* Searchbar */
.pac-card {
  margin: 10px  0 0 10px;
  padding: 8px 0;
  border: solid #20346ab9;
  border-width: 2px;
  border-radius:5px ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background-color: #fff;
  font-family: Roboto;
}

#pac-input {
  
  border-style: none;
  background-color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 60vw;
  outline: none;
  min-width: 75px;
  max-width: 400px;
}

#btnReset {
  margin-right: 5px;
}

/* ******************************************************** */
#ui-container {
  background-color: #20346a;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#filter-ui {
width: 90vw;
 height: 10vh;
 display: grid;

 grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
 align-items: center;
  justify-items: space-around;
  
}

.filter-ui-label {
  
  height: 60%;
  min-height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-ui-button {
  font-family: Roboto;
  font-weight: bold;
  color: rgb(56, 56, 56);
  border: rgb(126, 126, 126) solid 1px;
  background-color: white;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-width: 250px;
  font-size:20px;
  -webkit-appearance: none
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  background: transparent;
  z-index: 1; /* Sit on top */
  bottom: 0;
  width: 100vw; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
}
/* Modal Content/Box */
.modal-content {
  position: fixed;
  height: 50%;
  width:100vw;
  background-color: #fefefe;
  margin: 55vh auto; /* 55% from the top and centered */
  border: 2px solid #20346a;
  font-family: Roboto;
  font-weight: bold;
  color: rgb(54, 54, 54);
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: scroll;
  height: 85%;
  padding: 20px 20px 20px 20px;
}
.menu::-webkit-scrollbar {
  width: 2em;
}
.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.menu::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

/* The Close Button */
.close {
  color: #aaa;
  padding-left: 5px;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* *********************************************** */
/* Disclaimer modal */
.disclaimer {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: Arial, Helvetica, sans-serif;
}

/* Modal Content */
.disclaimer-content {
  position: relative;
  background-color: #20346a;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  max-width: 500px;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.disclaimer-accept {
  width: 80px;
  padding:5px 0;
  background-color: #20346a25;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  border-radius: 3px;
  border: solid 1px gray;
}

.disclaimer-accept:hover,
.disclaimer-accept:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.disclaimer-header {
  border-radius: 5px 5px 0 0;
  padding: 2px 16px;
  background-color: #20346a;
  color: white;
  text-align: center;
}

h2 {
  margin-left: 10px;
}
.disclaimer-body {
  padding: 1% 10% 5% 10%;
  font-size: .8rem;
  font-weight: bolder;
  line-height: 2.2rem;
  letter-spacing: .03rem;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  right: 0;
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 15px;
  margin: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 0 6px 6px -6px #777;
	   -moz-box-shadow: 0 6px 6px -6px #777;
	        box-shadow: 0 6px 6px -6px #777;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.input {
  text-align: right;
}
/* The slider */
.slider {
  position: absolute;
  width: 60px;
  height: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.label {
  text-align: center;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}
