html, body {
  margin: 0;
  padding: 0;
  background-color: #20346a;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('font/GOTHAMBOOK.woff') format('woff');
  }
/* Header styles */

#header {
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
  background-color: #20346a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

#logo-home-link {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

#logo {
  height: 66%;
  margin-left: 1vh;
}

#logo-text {
  height: 25%;
}

#about-image {
  height: 33%;
  margin-right: 4vh;
}

/* Map container */

#map {
  height: 78vh;
  height: calc(var(--vh, 1vh) * 78);
}

/* Info window */

#description {
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #walk-span {
  dis
} */

#place-name {

}

#walk-label {
  font-size: 1.2rem;
  font-weight: lighter;
}

#walk-emoji {
  display: inline;
  font-size: 1.3rem;
}

/* Searchbar */

.pac-card {
  margin: 10px 0 0 10px;
  padding: 8px 0;
  border: solid #20346ab9;
  border-width: 2px;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background-color: #fff;
  position: absolute;
  transition-property: all;
	transition-duration: .6s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

#pac-input {
  border-style: none;
  background-color: #fff;
  font-size: 19px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  margin-left: 5px;
  text-overflow: ellipsis;
  width: 85%;
  outline: none;
  min-width: 75px;
  max-width: 400px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

/* ******************************************************** */

#ui-container {
  background-color: #20346a;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

#filter-ui {
  width: 90vw;
  height: 12vh;
  height: calc(var(--vh, 1vh) * 12);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  align-items: center;
  justify-items: space-around;
}

.filter-ui-label {
  height: 50%;
  min-height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-ui-button {
  font-weight: bold;
  color: rgb(44, 44, 44);
  border: rgb(126, 126, 126) solid 1px;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(173, 173, 173) 100%);
  border-radius: 25px;
  height: 100%;
  width: 100%;
  max-width: 250px;
  font-size: 15px;
  -webkit-appearance: none;
  transition-duration: .3s;
  outline:none
}

.filter-ui-button:hover {
  /* background: rgb(214, 214, 214);
background: radial-gradient(circle, rgb(218, 218, 218) 0%, rgb(148, 148, 148) 100%); */
transition-duration: .3s;
-webkit-box-shadow: 0px 6px 15px 7px rgba(0,0,0,0.4), inset 0px -5px 14px -2px rgba(0,0,0,0.4); 
box-shadow: 0px 6px 15px 7px rgba(0,0,0,0.4), inset 0px -5px 14px -2px rgba(0,0,0,0.4);
}

#toggleFilters {
 display: flex;
justify-content: space-evenly;
align-items: center;
}

#filter-icon {
  display: inline;
  justify-self: center;
  padding: 5px 0;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  background: transparent;
  z-index: 1;
  /* Sit on top */
  bottom: 0;
  width: 100vw;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  
}

/* Modal Content/Box */

.modal-content {
  position: fixed;
  height: 35%;
  width: calc(100vw - 4px);
  max-width: 500px;
  background-color: #fefefe;
  bottom: 12vh;
  right: 0;
  /* 55% from the top and centered */
  border: 4px solid #20346a;
  border-bottom: none;
  font-weight: bold;
  color: rgb(54, 54, 54);
  border-radius: 7px 7px 0 0;
  overflow-x: hidden;
  padding-bottom: 20px;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.2s;
  animation-name: animatebottom;
  animation-duration: .2s;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  
  height: 95%;
  padding: 20px 20px 0 20px;
  z-index: 1;
}

.menu::-webkit-scrollbar {
  width: 2em;
}

.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* The Close Button */

.close {
  color: #aaa;
  padding-left: 5px;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* *********************************************** */

/* Disclaimer modal */

.disclaimer {
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20vh;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.disclaimer-content {
  position: relative;
  background-color: #20346a;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  max-width: 500px;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
}


/* The Close Button */

.disclaimer-accept {
  width: 80px;
  padding: 5px 0;
  background-color: rgb(218, 218, 218);
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  border-radius: 8px;
  border: solid 1px gray;
  transition: .2s;
  color: rgb(44, 44, 44);
}

.disclaimer-accept:hover, .disclaimer-accept:focus {
  background-color: rgb(201, 201, 201);
  color: rgb(20, 20, 20);
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}

.disclaimer-header {
  border-radius: 5px 5px 0 0;
  padding: 2px 16px;
  background-color: #20346a;
  color: white;
  text-align: center;
}

h2 {
  margin-left: 10px;
}

.disclaimer-body {
  padding: 1% 10% 5% 10%;
  font-size: .8rem;
  font-weight: bolder;
  line-height: 1.4rem;
  letter-spacing: .01rem;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  right: 0;
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 15px;
  margin: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 0 6px 6px -6px #777;
  -moz-box-shadow: 0 6px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.input {
  text-align: right;
}

/* The slider */

.slider {
  position: absolute;
  width: 60px;
  height: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.label {
  text-align: center;
}

/* key sliders to legend*/

/* input:checked+#slideHc { background-color:  }
   
input:checked+#slideMg { background-color:  }
    
 input:checked+#slidePg { background-color:  }
    
input:checked+#slideSm { background-color:  }
   
 input:checked+#slideBl { background-color:  }
   
input:checked+#slideBr { background-color:  }
  
 input:checked+#slideYl { background-color:  }
    
input:checked+#slideEv { background-color:  }
   
 input:checked+#slideMc { background-color:  }
   
 input:checked+#slideBu { background-color:  }

input:checked+#slideRe { background-color:  }
   
 input:checked+#slideLu { background-color:  }



 input:focus+#slideHc { background-color:  }
    
input:focus+#slideMg { background-color:  }
    
 input:focus+#slidePg { background-color:  }
    
input:focus+#slideSm { background-color:  }
   
 input:focus+#slideBl { background-color:  }
   
input:focus+#slideBr { background-color:  }
  
 input:focus+#slideYl { background-color:  }
    
input:focus+#slideEv { background-color:  }
   
 input:focus+#slideMc { background-color:  }
   
 input:focus+#slideBu { background-color:  }

input:focus+#slideRe { background-color:  }
   
 input:focus+#slideLu { background-color:  }

 
   
 #toggleHandicap { color:  }
   
 #toggleMunicipalGarages { color:  }
    
  #togglePrivateGarages { color:  }
    
 #toggleSmartMeters { color:  }
   
 #toggleBlueTopMeters { color:  }
   
 #toggleBrownTopMeters { color:  }
  
 #toggleYellowTopMeters { color:  }
    
 #toggleEVCharge { color:  }
   
 #toggleMotorcycle { color:  }
   
#toggleBusLargeVehicle { color:  }

 #toggleResidential { color:  }
   
 #toggleLoadingUnloading { color:  } */
   

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Map Legend */

#map-legend {
  display: none;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  bottom: 16vh;
  bottom: calc(var(--vh, 1vh) * 16);
  left: 1vw;
  width: 20vw;
  min-width: 150px;
  max-width: 200px;
  margin: 0;
  transition-property: all;
	transition-duration: .6s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 0.2s;
  animation-name: animateleft;
  animation-duration: .2s;
  /* border: solid 3px #20346a; */
}


#legend-header {
  position: fixed;
  width: 20vw;
  min-width: 150px;
  max-width: 200px;
  color: white;
  background-color: #20346a;
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: all;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#legend-header-text {
  padding: 0 0 0 40%;
  font-size: .9rem;
}

#legend-close {
  justify-self: right;
  margin-right: 5%;
  padding: 0 5px;
  cursor: pointer;
}

#legend-content {
  background-color: rgba(255, 255, 255, 0.822);
  padding-top: 35px;
  margin: 0;
  border-radius: 5px;
}

.legend-item {
  display: grid;
  grid-template-columns: 1fr 25px;
  padding: 4px;
  align-items: center;
  border-radius: 5px;
}

.legend-item-name {
  color: black;
  
  display: flex;
  align-items: center;
  font-size: 12px;
}

.legend-item-polygon {
  width: 15px;
  height: 15px;
  padding-right: 10%;
}

.legend-item-line {
  width: 15px;
  height: 3px;
  padding-right: 10%;
}

#garages-icon {
  background-color: #7cb34273;
  border: 2px solid #7cb342;
}

#lots-icon {
  background-color: #01589b6b;
  border: 2px solid #01579b;
}

#smart-meters-icon {
  background-color: #9c27b0;
}

#blue-top-icon {
  background-color: #0288d1;
}

#brown-top-icon {
  background-color: #795548;
}

#yellow-top-icon {
  background-color: #ffea00;
}

#residential-icon {
  background-color: #ffaa00;
}

#motorcycle-icon {
  background-color: #828282;
}

#loading-icon {
  background-color: #ac2c1b;
}

#bus-icon {
  background-color: #afb42b;
}

/* Fade Animations */

/* .hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
} */

img[src="images/text-background.png"] {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

#header, #map, #ui-container {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 12vh;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 12vh;
    opacity: 1
  }
}

@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 1vw;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 1vw;
    opacity: 1
  }
}

@-webkit-keyframes animateoffleft {
  from {
    left: 1vw;
    opacity: 1;
  }
  to {
    left: -300px;
    opacity: 0
  }
}

@keyframes animateoffleft {
  from {
    left: 1vw;
    opacity: 1
  }
  to {
    left: -300px;
    opacity: 0
  }
}

